Content/FirstPerson
Content/FirstPersonArms
Content/FPWeapon
Content/LevelPrototyping
Content/MedievalDungeon
Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace